<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HRAM.Data" connectionString="Server=(localdb)\MSSQLLocalDB;Database=HRAMDATA;Trusted_Connection=True;" providerName="Sysyem.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>